ul {
    list-style-type: none;   
}

#menu li{
    float: left;
    position: center;
    padding: 50px;
    border: 7px solid rgb(92, 126, 103);
    background:rgb(185, 179, 179);
    padding-block-end: 10px;
    padding-block-start: 10px;
    page-break-after: always;
    width: 20%;
    font-size: large;
    font-weight: 800;
    font-family: monospace;
    font: bolder;

}
#menu li:hover {
	background-color: rgb(78, 207, 186);
  }

body{
   
    background-color: #8aca6c;
    width: 100%;
}
p
{
  text-align: center;
}
*{
    box-sizing: border-box;
    position:static;
    bottom: center;
    
  }
 
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: cursive;
    font-weight: 400;
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
  
  }

  
  input[type=button] {
    background:yellowgreen;
    color: rgb(10, 10, 10);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 50%;
    font-style: bold;
    font-family: fantasy;
   
    
  }
  
  
  
  .container {
    position:absolute;
    bottom: 80px;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #footerhome
  { 
      bottom:-100px;
      width:100%;  
      height:15vh;
      text-align: center;
      background: rgb(67, 122, 78);
      color: rgb(31, 25, 25);
      opacity:5;
      position:absolute;
  }
  .socialsites{
      position: static;
         right:0;
         top:35%;
         display:initial;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: flex-start;
         
         
     } 
    
  